<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is About Page</h1>
    <button id = "api_button"> Call API</button>
    <h1 id="name_section"> Hi </h1>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script>
        document.getElementById("api_button")
        .addEventListener("click", function() {
            // fetch("dummy")
            // .then(response => response.json())
            // .then((message) => {
            //     console.log(message);

            //     let item = document.getElementById("name_section");
            //     item.innerHTML = message["name"]
            // })
            // .then((error) => {
            //     console.log("Error: ", error);
            // });
    
            $.ajax({
                url: "dummy?param1=tes",
                type: "GET",
                success: function(message){
                    console.log(message);
                    let item = document.getElementById("name_section");
                    item.innerHTML = message["name"];
                },
            });
        });
    </script>
</body>
</html>